* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #0A1128;
    color: #F2F4F2;
    margin: 1em;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: inherit;
}
a:visited {
    color: inherit;
}
nav a {
    text-align: center;
    display: inline-block;
    margin: 0.25em;
    padding: 1em;
    width: 5em;
    transition: 0.3s;
}
nav a:hover {
    background-color: #D81159;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #6CD4FF;
    border-radius: 1em;
    margin: 1em 0em;
    padding: 1em;
}
.item {
    background-color: #218380;
    margin: 0.75em;
    padding: 0.75em;
    width: 5em;
    height: 5em;
    border-radius: 2em;
    transition: 0.3s;
}
.item p {
    text-align: center;
}
.item:hover {
    background-color: #3fc7c2;
}
.container-list {
    display: flex;
    flex-wrap: wrap;

    background-color: #6CD4FF;
    border-radius: 1em;
    margin: 1em 0em;
    padding: 1em;
}
.list {
    background-color: #218380;
    margin: 0.75em;
    padding: 0.75em;
    transition: 0.3s;
    border-radius: 5em;
}
.show form {
    display: inline;
    margin: 1em;
}

.show input {
    min-width: 4em;
    margin: 1.5em 1.5em 1.5em 0em;
}

#save {
    color: #0D160B;
    color: #5E8955;
    color: #F2F4F2;
    color: #6CD4FF;
    color: #D81159;
    color: #0A1128;
    color: #6B2D5C;
    color: #218380;
    color: #DCD6F7;
}